In [99]:
import numpy as np
import pandas as pd

In [100]:
traindata=pd.read_csv("/train (1).csv")
testdata=pd.read_csv("/test (1).csv")
target=pd.read_csv("/gender_submission.csv")

In [101]:
target=target["Survived"]
t=np.array(target)
t=t.T
t.shape

(418,)

In [102]:
A=[1,20,0,0,7.5]
S=[0,19,1,1,512]
ar=np.array(A)
sh=np.array(S)
ar=ar.reshape(5,1)
sh=sh.reshape(5,1)
ar.shape

(5, 1)

In [103]:
wa= np.full((ar.shape[0],1),0.01)
ws=np.full((sh.shape[0],1),0.01)
wa

array([[0.01],
       [0.01],
       [0.01],
       [0.01],
       [0.01]])

In [104]:
traindata
traindata['Age'].fillna(traindata['Age'].mean(), inplace=True)

In [105]:
ytrain=traindata["Survived"]
xtrain=traindata.drop(["Pclass","Cabin","Embarked","Name","Ticket","PassengerId"],axis=1)
xtest=testdata.drop(["Pclass","Cabin","Embarked","Name","Ticket","PassengerId"],axis=1)
xtest

        Sex   Age  SibSp  Parch      Fare
0      male  34.5      0      0    7.8292
1    female  47.0      1      0    7.0000
2      male  62.0      0      0    9.6875
3      male  27.0      0      0    8.6625
4    female  22.0      1      1   12.2875
..      ...   ...    ...    ...       ...
413    male   NaN      0      0    8.0500
414  female  39.0      0      0  108.9000
415    male  38.5      0      0    7.2500
416    male   NaN      0      0    8.0500
417    male   NaN      1      1   22.3583

[418 rows x 5 columns]

In [106]:
xtrain["Sex"].unique()
Gender={"male":1, "female":0}
xtrain=xtrain.replace(Gender)
xtest=xtest.replace(Gender)
xtrain

     Survived  Sex        Age  SibSp  Parch     Fare
0           0    1  22.000000      1      0   7.2500
1           1    0  38.000000      1      0  71.2833
2           1    0  26.000000      0      0   7.9250
3           1    0  35.000000      1      0  53.1000
4           0    1  35.000000      0      0   8.0500
..        ...  ...        ...    ...    ...      ...
886         0    1  27.000000      0      0  13.0000
887         1    0  19.000000      0      0  30.0000
888         0    0  29.699118      1      2  23.4500
889         1    1  26.000000      0      0  30.0000
890         0    1  32.000000      0      0   7.7500

[891 rows x 6 columns]

In [107]:
def sigmoid(z):
    s = 1/(1 + np.exp(-z)) 
    # s[np.isnan(s)] = np.nanmean(s)
    return s

In [108]:
def loss(h,y):
  return(-(y*np.log(h)+(1-y)*np.log(1-h)))

In [109]:
def val(w,x,b):
  c=np.dot(w.T,x)+b
  c[np.isnan(c)] = np.nanmean(c)
  return c

In [110]:
def gradient(x,h,y):
  return (np.dot(x,(h-y).T)/x.shape[1])

In [111]:
def const(h,y):
   n=(np.sum(h-y))/x.shape[1]
   return n

In [112]:
def fit(x,lr,iter,w,b,y):
  for i in range(iter):
    z=val(w,x,b)
   
    # z=np.nan_to_num(z, nan=np.nanmean(z))
    a=sigmoid(z)
  
    # a=np.nan_to_num(a, nan=np.nanmean(a))
    los=loss(a,y)
    
    # los=np.nan_to_num(los, nan=np.nanmean(los))
    cost=(np.sum(los))/x.shape[1]
    dz=np.dot(a,y)
    
    dw=gradient(x,a,y)
   
    db=const(a,y)
    
    w=w-lr*dw
    w[np.isnan(w)] = np.nanmean(w)
    b=b-lr*db
    
    if (i%5==0):
      print ("Cost after iteration %i: %f" %(i, cost))

In [113]:
xtrain = (xtrain - np.min(xtrain)) / (np.max(xtrain) - np.min(xtrain)).values
xtest=(xtest - np.min(xtest)) / (np.max(xtest) - np.min(xtest)).values

In [114]:
x=np.array(xtrain)
x=x.T
x.shape

(6, 891)

In [115]:
xt=np.array(xtest)
xt=xt.T
xt.shape

(5, 418)

In [116]:
y=np.array(ytrain)
y=y.T
y.shape
y

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [117]:
# w=np.zeros((x.shape[1],1))
# print(w.shape)
# w
w = np.full((x.shape[0],1),0.01)
w.shape

(6, 1)

In [118]:
wt = np.full((xt.shape[0],1),0.01)
wt.shape

(5, 1)

In [119]:
b=0.0

In [120]:
fit(x,0.0001,1000,w,b,y)

Cost after iteration 0: 0.693832
Cost after iteration 5: 0.693785
Cost after iteration 10: 0.693737
Cost after iteration 15: 0.693690
Cost after iteration 20: 0.693643
Cost after iteration 25: 0.693595
Cost after iteration 30: 0.693548
Cost after iteration 35: 0.693500
Cost after iteration 40: 0.693453
Cost after iteration 45: 0.693406
Cost after iteration 50: 0.693358
Cost after iteration 55: 0.693311
Cost after iteration 60: 0.693264
Cost after iteration 65: 0.693216
Cost after iteration 70: 0.693169
Cost after iteration 75: 0.693122
Cost after iteration 80: 0.693074
Cost after iteration 85: 0.693027
Cost after iteration 90: 0.692980
Cost after iteration 95: 0.692932
Cost after iteration 100: 0.692885
Cost after iteration 105: 0.692838
Cost after iteration 110: 0.692790
Cost after iteration 115: 0.692743
Cost after iteration 120: 0.692696
Cost after iteration 125: 0.692649
Cost after iteration 130: 0.692602
Cost after iteration 135: 0.692554
Cost after iteration 140: 0.692507
Cost after iteration 145: 0.692460
Cost after iteration 150: 0.692413
Cost after iteration 155: 0.692365
Cost after iteration 160: 0.692318
Cost after iteration 165: 0.692271
Cost after iteration 170: 0.692224
Cost after iteration 175: 0.692177
Cost after iteration 180: 0.692130
Cost after iteration 185: 0.692083
Cost after iteration 190: 0.692035
Cost after iteration 195: 0.691988
Cost after iteration 200: 0.691941
Cost after iteration 205: 0.691894
Cost after iteration 210: 0.691847
Cost after iteration 215: 0.691800
Cost after iteration 220: 0.691753
Cost after iteration 225: 0.691706
Cost after iteration 230: 0.691659
Cost after iteration 235: 0.691612
Cost after iteration 240: 0.691565
Cost after iteration 245: 0.691518
Cost after iteration 250: 0.691471
Cost after iteration 255: 0.691423
Cost after iteration 260: 0.691376
Cost after iteration 265: 0.691329
Cost after iteration 270: 0.691282
Cost after iteration 275: 0.691235
Cost after iteration 280: 0.691188
Cost after iteration 285: 0.691142
Cost after iteration 290: 0.691095
Cost after iteration 295: 0.691048
Cost after iteration 300: 0.691001
Cost after iteration 305: 0.690954
Cost after iteration 310: 0.690907
Cost after iteration 315: 0.690860
Cost after iteration 320: 0.690813
Cost after iteration 325: 0.690766
Cost after iteration 330: 0.690719
Cost after iteration 335: 0.690672
Cost after iteration 340: 0.690625
Cost after iteration 345: 0.690579
Cost after iteration 350: 0.690532
Cost after iteration 355: 0.690485
Cost after iteration 360: 0.690438
Cost after iteration 365: 0.690391
Cost after iteration 370: 0.690344
Cost after iteration 375: 0.690297
Cost after iteration 380: 0.690251
Cost after iteration 385: 0.690204
Cost after iteration 390: 0.690157
Cost after iteration 395: 0.690110
Cost after iteration 400: 0.690063
Cost after iteration 405: 0.690017
Cost after iteration 410: 0.689970
Cost after iteration 415: 0.689923
Cost after iteration 420: 0.689876
Cost after iteration 425: 0.689830
Cost after iteration 430: 0.689783
Cost after iteration 435: 0.689736
Cost after iteration 440: 0.689689
Cost after iteration 445: 0.689643
Cost after iteration 450: 0.689596
Cost after iteration 455: 0.689549
Cost after iteration 460: 0.689503
Cost after iteration 465: 0.689456
Cost after iteration 470: 0.689409
Cost after iteration 475: 0.689363
Cost after iteration 480: 0.689316
Cost after iteration 485: 0.689269
Cost after iteration 490: 0.689223
Cost after iteration 495: 0.689176
Cost after iteration 500: 0.689130
Cost after iteration 505: 0.689083
Cost after iteration 510: 0.689036
Cost after iteration 515: 0.688990
Cost after iteration 520: 0.688943
Cost after iteration 525: 0.688897
Cost after iteration 530: 0.688850
Cost after iteration 535: 0.688803
Cost after iteration 540: 0.688757
Cost after iteration 545: 0.688710
Cost after iteration 550: 0.688664
Cost after iteration 555: 0.688617
Cost after iteration 560: 0.688571
Cost after iteration 565: 0.688524
Cost after iteration 570: 0.688478
Cost after iteration 575: 0.688431
Cost after iteration 580: 0.688385
Cost after iteration 585: 0.688338
Cost after iteration 590: 0.688292
Cost after iteration 595: 0.688245
Cost after iteration 600: 0.688199
Cost after iteration 605: 0.688152
Cost after iteration 610: 0.688106
Cost after iteration 615: 0.688060
Cost after iteration 620: 0.688013
Cost after iteration 625: 0.687967
Cost after iteration 630: 0.687920
Cost after iteration 635: 0.687874
Cost after iteration 640: 0.687828
Cost after iteration 645: 0.687781
Cost after iteration 650: 0.687735
Cost after iteration 655: 0.687688
Cost after iteration 660: 0.687642
Cost after iteration 665: 0.687596
Cost after iteration 670: 0.687549
Cost after iteration 675: 0.687503
Cost after iteration 680: 0.687457
Cost after iteration 685: 0.687410
Cost after iteration 690: 0.687364
Cost after iteration 695: 0.687318
Cost after iteration 700: 0.687271
Cost after iteration 705: 0.687225
Cost after iteration 710: 0.687179
Cost after iteration 715: 0.687133
Cost after iteration 720: 0.687086
Cost after iteration 725: 0.687040
Cost after iteration 730: 0.686994
Cost after iteration 735: 0.686948
Cost after iteration 740: 0.686901
Cost after iteration 745: 0.686855
Cost after iteration 750: 0.686809
Cost after iteration 755: 0.686763
Cost after iteration 760: 0.686717
Cost after iteration 765: 0.686670
Cost after iteration 770: 0.686624
Cost after iteration 775: 0.686578
Cost after iteration 780: 0.686532
Cost after iteration 785: 0.686486
Cost after iteration 790: 0.686440
Cost after iteration 795: 0.686393
Cost after iteration 800: 0.686347
Cost after iteration 805: 0.686301
Cost after iteration 810: 0.686255
Cost after iteration 815: 0.686209
Cost after iteration 820: 0.686163
Cost after iteration 825: 0.686117
Cost after iteration 830: 0.686071
Cost after iteration 835: 0.686025
Cost after iteration 840: 0.685979
Cost after iteration 845: 0.685932
Cost after iteration 850: 0.685886
Cost after iteration 855: 0.685840
Cost after iteration 860: 0.685794
Cost after iteration 865: 0.685748
Cost after iteration 870: 0.685702
Cost after iteration 875: 0.685656
Cost after iteration 880: 0.685610
Cost after iteration 885: 0.685564
Cost after iteration 890: 0.685518
Cost after iteration 895: 0.685472
Cost after iteration 900: 0.685426
Cost after iteration 905: 0.685380
Cost after iteration 910: 0.685334
Cost after iteration 915: 0.685288
Cost after iteration 920: 0.685243
Cost after iteration 925: 0.685197
Cost after iteration 930: 0.685151
Cost after iteration 935: 0.685105
Cost after iteration 940: 0.685059
Cost after iteration 945: 0.685013
Cost after iteration 950: 0.684967
Cost after iteration 955: 0.684921
Cost after iteration 960: 0.684875
Cost after iteration 965: 0.684829
Cost after iteration 970: 0.684784
Cost after iteration 975: 0.684738
Cost after iteration 980: 0.684692
Cost after iteration 985: 0.684646
Cost after iteration 990: 0.684600
Cost after iteration 995: 0.684554

In [121]:
def predict(w,b,x_test):
    # x_test is a input for forward propagation
    z = sigmoid(np.dot(w.T,x_test)+b)
    Y_prediction = np.zeros((1,x_test.shape[1]))
    # if z is bigger than 0.5, our prediction is one means has diabete (y_head=1),
    # if z is smaller than 0.5, our prediction is zero means does not have diabete (y_head=0),
    for i in range(z.shape[1]):
        if z[0,i]< 0.60:
            Y_prediction[0,i] = 0
        else:
            Y_prediction[0,i] = 1

    return Y_prediction

In [122]:
y_prediction=predict(wt,b,xt)
y_prediction.shape

(1, 418)

In [123]:
print("test accuracy: {} %".format(100 - np.mean(np.abs(y_prediction - t)) * 100))

test accuracy: 54.78468899521531 %

In [124]:
ypreda=predict(wa,b,ar)
if(ypreda):
  print("Arpit Survived")
else:
  print("Arpit Not Survived")

Arpit Not Survived

In [125]:
ypreds=predict(ws,b,sh)
if(ypreds):
  print("Shreya Survived")
else:
  print("Shreya Not Survived")

Shreya Survived